<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Shopping signup</h1>
                    <h5>signup here</h5><hr>
                </div>
                <form>
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input name="name" class="form-control" id="Name" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mobile Number</label>
                        <input type="phone" class="form-control" id="tel" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">signup</button>
                </form>
                <a routerLink="/Login">Already Member? Click to Login</a>
            </div>
        </div>
    </div>
</div>
