<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h5>Edit Your Profile</h5><hr>
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="submit()">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input name="name" class="form-control" id="Name" aria-describedby="emailHelp" formControlName="name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mobile Number</label>
                        <input type="number" class="form-control" id="tel" aria-describedby="emailHelp" formControlName="mobno">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
                    </div>
                    <!-- <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="password">
                    </div> -->
                    <div class="mb-3">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control" #exampleInputPassword2 formControlName="address">
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>

